.btn {
  border: none;
  padding: 10px 10px;
  height: 42px;
  font-weight: bold;
  background-color: transparent;
  position: relative;
  cursor: pointer;
}

.btn-underline::after,
.btn-underline::before {
  position: absolute;
  content: '';
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
  width: 20px;
  position: absolute;
  border: 0 solid transparent;
}

.btn-underline::before {
  top: -5px;
  left: 0px;
  border-top: 2px solid black;
}

.btn-underline::after {
  bottom: -5px;
  right: 0px;
  border-bottom: 2px solid black;
}

.btn-underline:hover::before,
.btn-underline:hover::after {
  width: 100%;
}

.btn-underline-bottom::after {
  position: absolute;
  content: '';
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
  width: 20px;
  position: absolute;
  border: 0 solid transparent;
}

.btn-underline-bottom::after {
  bottom: -5px;
  left: 0px;
  border-bottom: 2px solid black;
}

.btn-underline-bottom:hover::after {
  width: 100%;
}

.btn-underline-top::before {
  position: absolute;
  content: '';
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
  width: 20px;
  position: absolute;
  border: 0 solid transparent;
}

.btn-underline-top::before {
  top: -5px;
  left: 0px;
  border-bottom: 2px solid black;
}

.btn-underline-top:hover::before {
  width: 100%;
}

.btn-fill {
  background-color: transparent;
  border: 2px solid black;
}

.btn-fill-left::before {
  content: '';
  background-color: black;
  height: inherit;
  position: absolute;
  width: 0%;
  top: -2px;
  left: 0px;
  z-index: -1;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
}

.btn-fill-left:hover {
  color: white;
}

.btn-fill-left:hover::before {
  width: 100%;
}

.btn-fill-right::before {
  content: '';
  background-color: black;
  height: inherit;
  position: absolute;
  width: 0%;
  top: -2px;
  right: 0px;
  z-index: -1;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
}

.btn-fill-right:hover {
  color: white;
}

.btn-fill-right:hover::before {
  width: 100%;
}

.btn-fill-top::before {
  content: '';
  background-color: black;
  height: 0%;
  position: absolute;
  width: 100%;
  top: 0px;
  right: 0px;
  z-index: -1;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
}

.btn-fill-top:hover {
  color: white;
}

.btn-fill-top:hover::before {
  height: 100%;
}

.btn-fill-bottom::before {
  content: '';
  background-color: black;
  height: 0%;
  position: absolute;
  width: 100%;
  bottom: 0px;
  right: 0px;
  z-index: -1;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
}

.btn-fill-bottom:hover {
  color: white;
}

.btn-fill-bottom:hover::before {
  height: 100%;
}

.btn-g {
  background-color: gray;
  padding: 10px;
  height: 42px;
  font-weight: bold;
  cursor: pointer;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  display: inline-block;
}

.btn-g.btn-grow:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.btn-g.btn-shrink:hover {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

.btn-g.btn-pulse:hover {
  -webkit-animation-name: pulse;
          animation-name: pulse;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
}

.btn-g.btn-pulse-shrink:hover {
  -webkit-animation-name: pulse-shrink;
          animation-name: pulse-shrink;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
}

.btn-g.btn-pulse-grow:hover {
  -webkit-animation-name: pulse-grow;
          animation-name: pulse-grow;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
}

.btn-g.btn-pop:hover {
  -webkit-animation-name: pop;
          animation-name: pop;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-duration: 0.3s;
          animation-duration: 0.3s;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
}

.btn-g.btn-push:hover {
  -webkit-animation-name: push;
          animation-name: push;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-duration: 0.3s;
          animation-duration: 0.3s;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
}

@-webkit-keyframes pulse {
  from {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  to {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
}

@keyframes pulse {
  from {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  to {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
}

@-webkit-keyframes pulse-shrink {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  to {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
}

@keyframes pulse-shrink {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  to {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
}

@-webkit-keyframes pulse-grow {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  to {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
}

@keyframes pulse-grow {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  to {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
}

@-webkit-keyframes push {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  to {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
}

@keyframes push {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  to {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
}

@-webkit-keyframes pop {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  to {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
}

@keyframes pop {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  to {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
}

body {
  background-color: white;
}

.container {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.text-center {
  text-align: center;
}

.card {
  border: 1px solid #ccc;
  margin-bottom: 100px;
  padding-bottom: 50px;
  border-radius: 5px;
  text-align: center;
}

.shadow {
  -webkit-box-shadow: 3px 3px 5px 6px #ccc;
  box-shadow: 0px 3px 5px 5px #ccc;
}

.railway-heading {
  font-family: 'Raleway', sans-serif;
  font-size: 28px;
}

button {
  margin-right: 25px;
}
/*# sourceMappingURL=components.css.map */