
  .btn-underline{
    border: none;
    padding: 10px 20px;
    height: 42px;
    font-weight: bold;
    background-color: transparent;
    position: relative;
    cursor: pointer;
    color: #FFDC00;
  }
  .btn-underline::after,
  .btn-underline::before {
    content:'';
    transition: all 0.25s;
    width: 20px;
    position:absolute;
    border: 0 solid transparent;
  }
  
  .btn-underline::before {
    top: -5px;
    left: 0px;
    border-top: 2px solid #FFDC00;
  }
  
  .btn-underline::after {
    bottom: -5px;
    right: 0px;
    border-bottom: 2px solid #FFDC00;
  }
  .btn-underline:hover::before,
  .btn-underline:hover::after {
    width: 100%;
  }
  
  // Bttom line
  .btn-underline-bottom{
    border: none;
    padding: 10px 20px;
    height: 42px;
    font-weight: bold;
    background-color: transparent;
    position: relative;
    cursor: pointer;
    color: #FFDC00;
  }
  .btn-underline-bottom::after {
    position: absolute;
    content:'';
    transition: all 0.25s;
    width: 20px;
    position:absolute;
    border: 0 solid transparent;
  }
  
  .btn-underline-bottom::after {
    bottom: -5px;
    left: 0px;
    border-bottom: 2px solid #FFDC00;
  }
  .btn-underline-bottom:hover::after {
    width: 100%;
  }
  
  
  // Top line
  
  .btn-underline-top{
    border: none;
    padding: 10px 20px;
    height: 42px;
    font-weight: bold;
    background-color: transparent;
    position: relative;
    cursor: pointer;
    color: #FFDC00;
  }
  .btn-underline-top::before {
    position: absolute;
    content:'';
    transition: all 0.25s;
    width: 20px;
    position:absolute;
    border: 0 solid transparent;
  }
  
  .btn-underline-top::before {
    top: -5px;
    left: 0px;
    border-bottom: 2px solid #FFDC00;
  }
  .btn-underline-top:hover::before {
    width: 100%;
  }
  
  