
// Right
.btn-skew-right{
  border: none;
  color: black;
  font-weight: bold;
  cursor: pointer;
  border: 2px solid #FF4136;
  height: 42px;
  background-color: transparent;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.btn-skew-right::after, .btn-skew-right:before{
  content: '';
  position: absolute;
  background-color: #FF4136;
  height: 62px;
  width: 0%;
  transition: all 0.4s;
  z-index: -1;
  transform: skew(45deg);
  
}

.btn-skew-right::before{
  left: 49%;
  top: -2px;
}

.btn-skew-right::after {
  right: 50%;
  top: -2px;
}

.btn-skew-right:hover::after,.btn-skew-right:hover::before{
  width: 100%;
}
