// body{
// background-color: #282a36;
// }
// .container {
//     width: 80%;
//     margin-left: auto;
//     margin-right: auto;
// }
// .text-center {
//     text-align: center;
// }
// .card {
//     margin-bottom: 100px;
//     padding-bottom: 50px;
// }

// .shadow{
//     -moz-box-shadow:    3px 3px 5px 6px #111111;
//     -webkit-box-shadow: 3px 3px 5px 6px #111111;
//     box-shadow:         0px 3px 5px 5px #111111;
// }

.railway-heading {
    font-family: 'Raleway', sans-serif;
    font-size: 28px;
    color: blacks;
}

// button{
//     margin-right: 25px;
//     margin-top: 20px;
// }

.margin{
    margin-top: 30px;
    margin-bottom: 20px;
}
