
.railway-heading {
    font-family: 'Raleway', sans-serif;
    font-size: 28px;
    color: blacks;
}

.margin{
    margin-top: 30px;
    margin-bottom: 20px;
}
button{
    margin-right: 20px;
    margin-top: 20px;
    color: black !important;
}
button:focus{
    outline: none;
    box-shadow: none;
}