.btn-bob {
  border: none;
  padding: 10px;
  height: 42px;
  cursor: pointer;
}
.btn-bob:hover {
  animation-name: bob;
  animation-iteration-count: infinite;
  animation-duration: 1s;
  animation-direction: alternate;
}

@keyframes bob {
  0% {
    transform: translatey(-2px);
  }
  50% {
    transform: translatey(-5px);
  }
  100% {
    transform: translatey(-3px);
  }
}