.btn-bounce-in{
  border: none;
  padding: 10px;
  height: 42px;
  cursor: pointer;
  transition: all 0.2s;
}
.btn-bounce-in:hover {
  animation-name: bounce-in;
  animation-iteration-count: 1;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
}

@keyframes bounce-in {
  0% {
    transform: scale(1);
  }

  40% {
    transform: scale(1.2);
  }
  80% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1.2);
  }
}