.btn-bounce-out{
  border: none;
  padding: 10px;
  height: 42px;
  cursor: pointer;
  transition: all 0.2s;
}
.btn-bounce-out:hover {
  animation-name: bounce-out;
  animation-iteration-count: 1;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
}

@keyframes bounce-out {
  0% {
    transform: scale(1);
  }

  40% {
    transform: scale(0.8);
  }
  80% {
    transform: scale(0.9);
  }

  100% {
    transform: scale(0.8);
  }
}