.pulse-grow{
  border: none;
  padding: 10px;
  height: 42px;
  cursor: pointer;
  transition: all 0.2s;
}
.pulse-grow:hover {
  animation-name: pulse-grow;
  animation-iteration-count: infinite;
  animation-duration: 0.5s;
  animation-direction: alternate;
}

@keyframes pulse-grow {
  from {
    transform: scale(1);
  }

  to {
    transform: scale(1.1);
  }
}