.btn-pulse-shrink{
  border: none;
  padding: 10px;
  height: 42px;
  cursor: pointer;
  transition: all 0.2s;
}
.btn-pulse-shrink:hover {
  animation-name: pulse-shrink;
  animation-iteration-count: infinite;
  animation-duration: 0.5s;
  animation-direction: alternate;
}

@keyframes pulse-shrink {
  from {
    transform: scale(1);
  }

  to {
    transform: scale(0.9);
  }
}